<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registrate
            </div>
            <div class="card-body">
                <form (submit)="registrar()">
                    <mat-form-field style="width: 100%;" appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput [(ngModel)]="dataUser.name" name="name" required>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" [(ngModel)]="dataUser.email" name="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field style="width: 100%;" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" [(ngModel)]="dataUser.password" name="password" required>
                    </mat-form-field>
                    <button type="submit" class="btn btn-primary btn-block">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>