<h1 mat-dialog-title>
    {{data.title}}
</h1>
<div mat-dialog-content>
    <input type="hidden" [(ngModel)]="data.categorie_id" name="categorie_id">
    <mat-form-field>
        <input placeholder="Nombre de la categoria" matInput maxlength="20" [(ngModel)]="data.name">
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea placeholder="Descripción" matInput [maxLength]="100" [(ngModel)]="data.description"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data">Guardar</button>
    <button mat-button (click)="close()">Cerrar</button>
</div>