.example-card {
    max-width: 300px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.link {
    color: black;
    text-decoration: none;
    background-color: none;
}

.fa {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
    background: white;
    color: #3B5998;
}


/* Twitter */

.fa-twitter {
    color: #55ACEE;
}